<template>
  <div>
    <header>
      <h1>ChatApp</h1>
      <span v-if="alias">Name: {{ alias }}</span>
    </header>
    <main>
      <template v-if="hasJoined">
        <chat-view :messages="messages" @send="send" />
      </template>
      <template v-else>
        <join-view @join="join" />
      </template>
    </main>
  </div>
</template>

<script>
import ChatClient from './lib/chatClient';
import JoinView from './views/Join';
import ChatView from './views/Chat';
import 'marx-css/css/marx.css';
import './styles.scss';

export default {
  name: 'App',
  components: { JoinView, ChatView },
  data: () => ({
    messages: [],
    alias: '',
    client: null,
  }),
  computed: {
    hasJoined() {
      return this.alias.length > 0;
    },
  },
  methods: {
    send(message) {
      this.client(message);
    },
    join(username) {
      ChatClient.join(username);
      this.alias = username;
    },
  },
  mounted() {
    this.client = ChatClient.listen(message => {
      this.messages.push(message);
    });
  },
  unmounted() {
    this.client.destroy();
  },
};
</script>
<style lang="scss" scoped>
header {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fefefe;
  border-bottom: solid 1px #f0f0f0;
  h1 {
    margin: 0;
    flex-grow: 1;
  }
}
</style>
