<template>
  <section class="page">
    <h2>Chatroom</h2>
    <ul class="chat">
      <li v-for="message in messages" :key="message.id">
        <b>{{ message.user }}:</b>
        {{ message.message }}
      </li>
    </ul>
    <form @submit.prevent="send">
      <input autocomplete="off" ref="input" v-model="message" placeholder="Type a message" />
      <button>Send</button>
    </form>
  </section>
</template>

<script>
export default {
  name: 'ChatView',
  props: {
    users: {
      type: Array,
      default: () => [],
    },
    messages: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({ message: '' }),
  mounted() {
    this.$refs.input.focus();
  },
  methods: {
    send() {
      this.$emit('send', this.message);
      this.message = '';
    },
  },
};
</script>

<style lang="scss" scoped>
form {
  display: flex;
}
.page {
  display: flex;
  flex-direction: column;

  .chat {
    flex-basis: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  li {
    margin: 0;
    padding: 0;
  }
}
</style>
