<template>
  <section class="page">
    <h2>Enter your name to join</h2>
    <form @submit.prevent="$emit('join', username)">
      <input autocomplete="off" autofocus v-model="username" placeholder="Enter username" />
      <button>Join</button>
    </form>
  </section>
</template>

<script>
export default {
  name: 'JoinView',
  data: () => ({ username: '' }),
};
</script>

<style lang="scss" scoped>
form {
  display: flex;
}
</style>
